#navbar{
    background-color: #0D80BF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 30px;

    display: flex;
}

body{
    padding: 0;
    margin: 0;
    background-color: black;



}

.flex{
    display: flex;
}

#icon{
    height: 80px;
    margin: 10px;
}

#main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
}

.inputs{
    margin: 1%;
    height: 25px;
    border-radius: 6px;
    width: 90%;
    background-color: #2e3d68;
    color: white;
    border: none;
    box-shadow: none;
    
}

.buttons{
    margin: 1%;
    height: 25px;
    border-radius: 6px;
    background-color: #2e3d68;
    color: white;
}

#suarez{
    height: 849px;
}

.scroll{
    max-height: 853px;
    overflow: hidden;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar{
    width: 10px;
}

.scroll::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 10px;
}

#form{
    width: 100%;
}
